<?xml version="1.0" encoding="UTF-8"?>
<frigga xmlns="http://www.example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.example.com template.xsd">
    <template>
        <info>
            <author>Frigga Team</author>
            <name>demonstration</name>
            <site>localhost</site>
            <description>This is a basic example, to be used in our demonstration room</description>
        </info>
        <replacements>
            <replace name="tv" description="a tv" type="string"/>
            <replace name="eyetrack" description="an eyetracker to control" type="string"/>
        </replacements>
        <rules>
            <rule id="rule1" description="Handle tv, by looking at it">
                <variables>
                    <variable name="$client" source="tvselection.client" />
                    <variable name="$client_category" source="tvselection.client.category" />
                </variables>
                <actions>
                    <action event="validate">
                        <function selection="$client" function="on"/>
                    </action>
                    <action event="invalidate">
                        <function selection="$client" function="dialog">
                            <param>/select</param>
                        </function>
                    </action>
                </actions>
                <condition id="tvselection">
                    <!-- Select all devices where the symbolic variable of one 
                         is equal to the lookat variable of another. And where 
                         they are both equal to the constant string: 
                         flatpanel_livingroom. In reality selecting the tv 
                         with that symbolic itself, and any eyetracker current-
                         ly looking at it. 

                         Will result in selection:
                         * Variable/Device, sid: devicetv
                         * Variable/Device, sid: deviceeyetrack
                         * Constant, sid: none -->
                    <whereEqual>
                        <!-- Select all devices that has the variable: symbolic
                             and store these devices with the id: devicetv -->
                        <variable name="symbolic" type="string" sid="devicetv">
                            <!-- Select any device that matches one of the fol-
                                 lowing criteria. -->
                            <or>
                                <!-- Only parse the code inside this block if 
                                     the parser is atleast version 1. -->
                                <constraint minVersion="1">
                                    <location type="local" where="work_room1"/>  <!-- Filter -->
                                    <location type="local" where="work_room2" position="10,10,10" radius="1m"/>  <!-- Filter -->
                                </constraint>
                                <location type="global" position="10,10,10" radius="1m"/>  <!-- Filter -->
                            </or>
                            <!-- Only select devices that are of the category
                                 tv. -->
                            <isCategory category="tv"/>  <!-- Filter -->
                            <hasVariable name="symbolic" type="string"/>  <!-- Filter -->
                        </variable>
                        <variable name="lookat" type="string" sid="deviceeyetrack">
                            <isCategory category="eyetracker"/>  <!-- Filter -->
                            <hasVariable name="lookat" type="string"/>  <!-- Filter -->
                        </variable>
                        <constant name="name_of_tv" value="flatpanel_livingroom" />
                    </whereEqual>
                </condition>
            </rule>
        </rules>
    </template>
</frigga>
