<?xml version="1.0" encoding="UTF-8"?>
<frigga xmlns="http://www.example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.example.com template.xsd">
  <template>
    <info>
      <author>Frigga Team</author>
      <name>demonstration</name>
      <site>localhost</site>
      <description>This is a basic example, to be used in our demonstration room</description>
    </info>
    <replacements>
      <replace name="tv" description="a tv" type="string" />
      <replace name="eyetrack" description="an eyetracker to control" type="string" />
    </replacements>
    <rules>
      <rule id="rule1">
        <description>Handle tv, by looking at it</description>
        <actions>
          <action event="validate">
            <function selection="!tv" function="on"/>
          </action>
          <action event="invalidate">
            <function selection="!tv" function="off"/>
          </action>
        </actions>
        <condition>
          <device name="!eyetrack">
		    <variable name="lookat" type="string">
			  <isEqual>!tv</isEqual>
	  	    </variable>
          </device>
        </condition>
      </rule>
    </rules>
  </template>
</frigga>
