<?xml version="1.0" encoding="UTF-8"?>
<frigga xmlns="http://www.example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.example.com template.xsd">
    <template>
        <info>
            <author>Frigga Team</author>
            <name>demonstration</name>
            <site>localhost</site>
            <description>This is a basic example, to be used in our demonstration room</description>
        </info>
        <replacements>
            <replace name="tv" description="a tv" type="string"/>
            <replace name="eyetrack" description="an eyetracker to control" type="string"/>
        </replacements>
        <rules>
            <rule id="rule1">
                <description>Handle tv, by looking at it</description>
                <variables>
                    <variable name="$client">
                        <select device="deviceeyetrack" variable="attachedto"/>
                    </variable>
                    <variable name="$client_category">
                        <select device="$client" variable="category"/>
                    </variable>
                </variables>
                <actions>
                    <action event="validate">
                        <function selection="$client" function="on"/>
                    </action>
                    <action event="invalidate">
                        <function selection="$client" function="dialog">
                            <param>/select</param>
                        </function>
                    </action>
                </actions>
                <condition>
                    <whereEqual>
                        <variable name="symbolic" type="string" sid="devicetv">
                            <or>
                                <location type="local" where="work_room1"/>  <!-- Filter -->
                                <location type="local" where="work_room2" position="10,10,10" radius="1m"/>  <!-- Filter -->
                                <location type="global" position="10,10,10" radius="1m"/>  <!-- Filter -->
                            </or>
                            <isCategory category="tv"/>  <!-- Filter -->
                            <hasVariable name="symbolic" type="string"/>  <!-- Filter -->
                        </variable>
                        <variable name="lookat" type="string" sid="deviceeyetrack">
                            <isCategory category="eyetracker"/>  <!-- Filter -->
                            <hasVariable name="lookat" type="string"/>  <!-- Filter -->
                        </variable>
                    </whereEqual>
                </condition>
            </rule>
        </rules>
    </template>
</frigga>
