<?xml version="1.0" encoding="UTF-8"?>
<frigga xmlns="http://www.example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.example.com template.xsd">
    <template>
        <info>
            <name>eye-to-speech</name>
            <author>Mikkel Wendt-Larsen (miwe@itu.dk)</author>
            <author>Tommy Andersen (toan@itu.dk)</author>
            <site>localhost</site>
            <description>This is a basic example, to be used in our demonstration room. It displays how an action can be chosen by the user for the eyetracking by first looking at, and then looking away from the television.</description>
        </info>
        <rules>
            <rule id="rule1" description="Perform when looking at item">
                <actions>
                    <!-- Run these actions for each device being validated, 
                         that is for each device matching the condition 
                         criteria. The function to run is switch television 
                         on. -->
                    <action event="validate">
                        <function selection="speechdevice" function="say">
						  <param name="message">this is a device</param>
					    </function>
                    </action>
                </actions>

                <!-- Find all the eye trackers. But do not use the resulting 
                     list of devices for validation. -->
                <condition id="eyetrackselection" validate="false">
                    <isCategory category="eyetrack" />
                </condition>
                
                <condition id="speechdevice" validate="false">
                    <isCategory category="synthetic_speech" />
                </condition>
                <!-- Find all the televisions that are currently being looked 
                     upon. Store the eyetracker looking at the television in 
                     the tag "eyeTrack" for each television. -->
                <condition id="selection" dependsOn="eyetrackselection">
                    <remoteCompare source="eyetrackselection" sourceVariable="lookat" variable="symbolic" tagName="eyeTracker"/>
                </condition>
            </rule>
        </rules>
    </template>
</frigga>
