<?xml version="1.0" encoding="UTF-8"?>
<frigga xmlns="http://www.example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.example.com template.xsd">
    <template>
        <info>
            <name>usecase1</name>
            <author>Mikkel Wendt-Larsen (miwe@itu.dk)</author>
            <author>Tommy Andersen (toan@itu.dk)</author>
            <site>localhost</site>
            <description>This is a basic example, to be used in our demonstration room. It displays how an action can be chosen by the user for the eyetracking by first looking at, and then looking away from the television.</description>
        </info>
        <replacements>
            <replace name="onLookAt" description="Action to perform when looking at television" type="enum(on,off)" />
            <replace name="onLookAway" description="Action to perform when looking away from television" type="enum(on,off)"/>
        </replacements>
        <rules>
            <rule id="rule1" description="Perform action when looking at and away from television.">
                <actions>
                    <!-- Run these actions for each device being validated, 
                         that is for each device matching the condition 
                         criteria. The function to run is switch television 
                         on. -->
                    <action event="validate">
                        <function selection="tvselection" function="{#onLookAt}" />
                    </action>
                    <!-- Run these actions for each device no longer being 
                         validated. We can expect the invalidate to be called
                         at most 1 time for each call to validate. The 
                         function we call is to turn the television off. -->
                    <action event="invalidate">
                        <function selection="tvselection" function="{#onLookAway}" />
                    </action>
                </actions>

                <!-- Find all the eye trackers. But do not use the resulting 
                     list of devices for validation. -->
                <condition id="eyetrackselection" validate="false">
                    <isCategory category="eyetrack" />
                </condition>
                <!-- Find all the televisions that are currently being looked 
                     upon. Store the eyetracker looking at the television in 
                     the tag "eyeTrack" for each television. -->
                <condition id="tvselection" dependsOn="eyetrackselection">
                    <remoteCompare source="eyetrackselection" sourceVariable="lookat" variable="symbolic" tagName="eyeTracker">
                        <isCategory category="tv" />
                    </remoteCompare>
                </condition>
            </rule>
        </rules>
    </template>
</frigga>
