<?xml version="1.0" encoding="UTF-8"?>
<frigga xmlns="http://www.example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.example.com template.xsd">
    <template>
        <info>
            <name>usecase3</name>
            <author>Mikkel Wendt-Larsen (miwe@itu.dk)</author>
            <author>Tommy Andersen (toan@itu.dk)</author>
            <site>localhost</site>
            <description>This usecase adjusts the channel and volume of a television depending on the user being near it.</description>
        </info>     
        <rules>
            <rule id="rule1" description="Adjust channel and volume according to user.">
                <actions>
                    <!-- Run these actions for each device being validated, that is for each device matching the condition criteria. The functions to run to adjust volume and channel. -->
                    <action event="validate">
                        <function selection="tvselection" function="setVolume">
                            <param name="volume">40</param>
                        </function>
                        <function selection="tvselection" function="setChannel">
                            <param name="channel">12</param>
                        </function>
                    </action>
                </actions>

                <!-- Find the user we have specified in the replacement. -->
                <condition id="clientselection" validate="false">
                    <variableIs name="username" value="testuser">
                        <isCategory category="client" />
                    </variableIs>
                </condition>

                <!-- Find televisions in the same room as the user. -->
                <condition id="tvselection" dependsOn="clientselection">
                    <sameRoom source="clientselection" tagName="client">
                        <isCategory category="tv" />
                    </sameRoom>
                </condition>
            </rule>
        </rules>
    </template>
</frigga>
