<?xml version="1.0" encoding="UTF-8"?>
<frigga xmlns="http://www.example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.example.com template.xsd">
    <template>
        <info>
            <name>usecase2</name>
            <author>Mikkel Wendt-Larsen (miwe@itu.dk)</author>
            <author>Tommy Andersen (toan@itu.dk)</author>
            <site>localhost</site>
            <description>Adjust volume of tv depending on the distance to the television.</description>
        </info>
        <replacements>
            <replace name="tvPosition" description="Position of television." type="string" />
        </replacements>
        <rules>
            <rule id="rule1" description="Perform action when looking at and away from television.">
                <actions>
                    <!-- Adjust volume -->
                    <action event="validate">
                        <function selection="neartv" function="setVolume">
                            <param name="volume">10</param>
                        </function>
                        <function selection="mediumtv" function="setVolume">
                            <param name="volume">20</param>
                        </function>
                        <function selection="fartv" function="setVolume">
                            <param name="volume">30</param>
                        </function>
                        <function selection="out_of_range" function="off"/>
                    </action>
                </actions>

                <condition id="users" validate="false">
                   <isOnline>
                      <isCategory category="indoor_location" />
                    </isOnline>
                </condition>

                <condition id="neartv" dependsOn="users">
                    <distance source="users" maxRadius="1m" tagName="user" type="local">
                        <isCategory category="Tv" />
                    </distance>
                </condition>
                <condition id="mediumtv" dependsOn="users">
                    <distance source="users" minRadius="1m" maxRadius="2m" tagName="user" type="local">
                        <isCategory category="Tv" />
                    </distance>
                </condition>
                <condition id="fartv" dependsOn="users">
                    <distance source="users" minRadius="2m" maxRadius="3m" tagName="user" type="local">
                        <isCategory category="Tv" />
                    </distance>
                </condition>
                <condition id="out_of_range" dependsOn="users">
                    <distance source="users" minRadius="3m" tagName="user" type="local">
                        <isCategory category="Tv" />
                    </distance>
                </condition>

            </rule>
        </rules>
    </template>
</frigga>
